<% provide(:title, "HOME") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | AnniversaryPost </title>
  </head>

    <% if signed_in? %>
      <div class="container">
        <div class="row">
          <ul class="users">
            <h3>Anniversary Post (<%= @feed_items.count %> )</h3>
            <%= render 'shared/feed' %>
          </ul>
          <div class="col-md-3">
            <p><%= link_to "記念日作成", new_child_anniversary_path, class: "btn btn-primary btn-lg btn-record" %></p>
          </div>
        </div>
      </div>
    <% else %>
        <main>
          <section class="home-section home-parallax home-fade home-full-height" id="home">
            <div class="hero-slider">
              <ul class="slides">
                <li class="bg-dark-30 bg-dark" style="background-image:url(<%= asset_path '七五三.jpeg' %>);">
                  <div class="titan-caption">
                    <div class="caption-content">
                      <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
                      <div class="font-alt mb-40 titan-title-size-4">Anniversary Post</div>
                      <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                    </div>
                  </div>
                </li>
                <li class="bg-dark-30 bg-dark" style="background-image:url(<%= asset_path '結婚.jpeg' %>);">
                  <div class="titan-caption">
                    <div class="caption-content">
                      <div class="font-alt mb-30 titan-title-size-2">日々の思い出を一枚の写真で残す<br/>Preserve daily memories with just one photo</div>
                      <a class="btn btn-border-w btn-round" href="about">Learn More</a>
                    </div>
                  </div>
                </li>
                <li class="bg-dark-30 bg-dark" style="background-image:url(<%= asset_path '親子.jpeg' %>);">
                  <div class="titan-caption">
                    <div class="caption-content">
                      <div class="font-alt mb-30 titan-title-size-1">一瞬を永遠に変える<</div>
                      <div class="font-alt mb-40 titan-title-size-3">Transforming moments into eternity</div>
                      <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </section>  
          <div class="main">
            <section class="module" id="about">
              <div class="container">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <h2 class="module-title font-alt">Welcome to Anniversary Post</h2>
                    <div class="module-subtitle font-serif large-text">特別な日のために、特別な一枚を選び、たった17文字でその瞬間を刻むアプリケーションです。数えきれないほどの写真の中から、大切な一枚を選んで、ひと言を添える。思い出を大切に保存し、共有するための場所、それがAnniversary Postです。</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2 col-sm-offset-5">
                    <div class="large-text align-center"><a class="section-scroll" href="#services"><i class="fa fa-angle-down"></i></a></div>
                  </div>
                </div>
              </div>
            </section>
            <hr class="divider-w">
            <section class="module" id="services">
              <div class="container">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Anniversary Post Services</h2>
                    <div class="module-subtitle font-serif">
                    人生の特別な日々を祝い、大切な瞬間を未来に繋げましょう。</br>
                    Celebrate life's special days and connect precious moments to the future.
                    </div>
                  </div>
                </div>
                <div class="row multi-columns-row">
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                      <div class="features-icon"><span class="fa fa-calendar-check"></span></div>
                      <h3 class="features-title font-alt">あなただけの記念日を設定</h3>
                      <p>子どもの成長、自己達成の瞬間、愛の記念日...。日々は流れゆくが、このアプリで一日を永遠のものに変えましょう。</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                      <div class="features-icon"><span class="fas fa-camera-retro"></span></div>
                      <h3 class="features-title font-alt">一枚の写真</h3>
                      <p>選りすぐった一枚で記念日を彩る。シンプルだけど、その日の全てを物語る写真を。</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                      <div class="features-icon"><span class="fa fa-comments"></span></div>
                      <h3 class="features-title font-alt">17文字のコメント</h3>
                      <p>575のリズムで、言葉に重みを。貴重な記念日に、たった17文字で色を加えましょう。</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                      <div class="features-icon"><span class="fas fa-hashtag"></span></div>
                      <h3 class="features-title font-alt">タグで繋がる</h3>
                      <p>＃タグを使い、記念日の瞬間を共有。コミュニティで繋がり、感動を共感し合いましょう。</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                      <div class="features-icon"><span class="fas fa-heart"></span></div>
                      <h3 class="features-title font-alt">お気に入り機能</h3>
                      <p>フォロワーの記念日をお気に入りで応援。記念日は共有することで、もっと輝きます。</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="features-item">
                      <div class="features-icon"><span class="fas fa-users"></span></div>
                      <h3 class="features-title font-alt">コメントで交流</h3>
                      <p>写真にコメントをして、記念日を祝い合いましょう。一枚の写真から始まる新たな物語。</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          <section class="module pb-0" id="works">
            <div class="container">
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                  <h2 class="module-title font-alt">Our Memory</h2>
                  <div class="module-subtitle font-serif"></div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <ul class="filter font-alt" id="filters">
                    <li><a class="current wow fadeInUp" href="#" data-filter="*">All</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".illustration" data-wow-delay="0.2s">ニューボーン</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".marketing" data-wow-delay="0.4s">七五三</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".photography" data-wow-delay="0.6s">バースデー</a></li>
                    <li><a class="wow fadeInUp" href="#" data-filter=".webdesign" data-wow-delay="0.6s">クリスマス</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="works-grid works-grid-gut works-grid-3 works-hover-w" id="works-grid">
              <li class="work-item illustration webdesign"><a href="portfolio-single-1.html">
                  <div class="work-image"><%= image_tag("赤ちゃん.jpeg", alt: "Portfolio Item") %>
                  </div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">ニューボーン</h3>
                    <div class="work-descr">New Born</div>
                  </div></a></li>
              <li class="work-item marketing photography"><a href="portfolio-single-1.html">
                  <div class="work-image"><%= image_tag("七五三.jpeg", alt: "Portfolio Item") %></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">七五三</h3>
                    <div class="work-descr">Shichi-Go-San</div>
                  </div></a></li>
              <li class="work-item illustration photography"><a href="portfolio-single-1.html">
                  <div class="work-image"><%= image_tag("学生.jpeg", alt: "Portfolio Item") %></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">学生時代</h3>
                    <div class="work-descr">Student Life</div>
                  </div></a></li>
              <li class="work-item marketing photography"><a href="portfolio-single-1.html">
                  <div class="work-image"><%= image_tag("新卒.jpg", alt: "Portfolio Item") %></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">社会人生活</h3>
                    <div class="work-descr">Company Entrance Ceremony

                    </div>
                  </div></a></li>
              <li class="work-item illustration webdesign"><a href="portfolio-single-1.html">
                  <div class="work-image"><%= image_tag("結婚.jpg", alt: "Portfolio Item") %></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">結婚</h3>
                    <div class="work-descr">Wedding Anniversary</div>
                  </div></a></li>
              <li class="work-item marketing webdesign"><a href="portfolio-single-1.html">
                  <div class="work-image"><%= image_tag("祖父母.jpg", alt: "Portfolio Item") %></div>
                  <div class="work-caption font-alt">
                    <h3 class="work-title">第二の人生</h3>
                    <div class="work-descr">Second Life</div>
                  </div></a></li>
            </ul>
          </section>
          
          <div class="module-small bg-dark">
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <div class="widget">
                    <h5 class="widget-title font-alt">About Anniversary</h5>
                    <p>
                    スマートフォンの普及は、美しく、手軽に、素早く写真を撮ることを可能にしました。しかし、一方で、私たちは、写真一枚一枚の意味が薄れてしまう現代を目の当たりにしています。このような現状に対して危機感を抱き、私たちはAnniversary Postアプリを開発しました。一枚の写真に込められた物語や価値を大切にし、それを保管し共有することで、日々の暮らしに彩りと喜びをもたらすことができればと考えています。</p>
                    <p>Email:<a href="#">uzuhiro1@gmail.com</a></p>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="widget">
                    <h5 class="widget-title font-alt">Recent Comments</h5>
                    <ul class="icon-list">
                      <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                      <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                      <li>Andy on <a href="#">Eco bag Mockup</a></li>
                      <li>Jack on <a href="#">Bottle Mockup</a></li>
                      <li>Mark on <a href="#">Our trip to the Alps</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="widget">
                    <h5 class="widget-title font-alt">Blog Categories</h5>
                    <ul class="icon-list">
                      <li><a href="#">Photography - 7</a></li>
                      <li><a href="#">Web Design - 3</a></li>
                      <li><a href="#">Illustration - 12</a></li>
                      <li><a href="#">Marketing - 1</a></li>
                      <li><a href="#">Wordpress - 16</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="widget">
                    <h5 class="widget-title font-alt">Popular Posts</h5>
                    <ul class="widget-posts">
                      <li class="clearfix">
                        <div class="widget-posts-image"><a href="#"><%= image_tag("rp-1.jpg", alt: "Portfolio Item") %></a></div>
                        <div class="widget-posts-body">
                          <div class="widget-posts-title"><a href="#">Designer Desk Essentials</a></div>
                          <div class="widget-posts-meta">23 january</div>
                        </div>
                      </li>
                      <li class="clearfix">
                        <div class="widget-posts-image"><a href="#"><%= image_tag("rp-2.jpg", alt: "Portfolio Item") %></a></div>
                        <div class="widget-posts-body">
                          <div class="widget-posts-title"><a href="#">Realistic Business Card Mockup</a></div>
                          <div class="widget-posts-meta">15 February</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="divider-d">
        </main>
    <% end %>
</html>

