<%= form_for(@comment) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :child_post_id, @child_post.id %>
  <div class="comment-form">
    <h4 class="comment-form-title font-alt">Add your comment</h4>
    <form method="post">
      <div class="form-group">
        <%= f.text_area :content, placeholder: "Comment..." %>
      </div>
      <%= f.submit "Post comment", class: "btn btn-round btn-d" %>
    </form>
  </div>
<% end %>