<% provide(:title, "Anniversary詳細") %>
<% @comments  = @child_post.feed_comment(@child_post.id) %>

<div class="col-sm-8 col-sm-offset-1">
  <div class="post">
    <div id="child_post-<%= @child_post.id %>">
        <div class="post-thumbnail">
          <% if @child_post.image.attached? %>
            <%= image_tag(@child_post.image_as_thumbnail) %>
          <% end %>
        <div class="post-header font-alt">
        <div class="d-flex justify-content-start align-items-center mb-3">
          <h2 class="post-title"><a href="#"><%= @child_post.child_anniversary.name %></a></h2>
            <% if current_user.id == @child_post.user_id %>
              <%= link_to edit_child_anniversary_child_post_path(@child_post.child_anniversary, @child_post) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to child_anniversary_child_post_path(@child_post.child_anniversary, @child_post), 
                            method: :delete, 
                            data: { confirm: "本当に削除しますか？" } do %>
                              <i class="fas fa-trash"></i>
                            <% end %>
            <% end %>
            <%= link_to child_anniversaries_path do %>
              <i class="fas fa-list"></i>
            <% end %>
            <%= render 'users/favorite_form', child_post: @child_post %>
        </div>
          <div class="post-meta">By&nbsp;<a href="#"><%= @child_post.user.username %></a>| <%= @child_post.child_anniversary.date %> |  <%= "#{@child_post.comments.count}" %> Comments | <%= render_with_hashtags(@child_post.hashbody) %>
          </div>
        </div>
        <div class="post-entry">
          <%= @child_post.content %>
        </div>
        <p><%= time_ago_in_words(@child_post.created_at) %>前に投稿</p>
        <div class="comments">
          <h4 class="comment-title font-alt">There are <%= "#{@child_post.comments.count}" %> comments</h4>
          <%= render "comments/feed_comments" %>
          <%= render "comments/new" %>
        </div>
    </div>
  </div>
</div>