<div class="card pt-5 col-lg-4 mx-auto">
  <%= form_with model: @child_anniversary, local: true do |form| %>
    <% if @child_anniversary.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @child_anniversary.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group row">
      <h2 class= "post-title col-form-label col-lg-12 text-center">記念日登録</h2>
    </div>
    <div class="form-group row">
      <%= form.label :name, "記念日の名前", class: 'col-form-label col-lg-12 text-center' %>
      <div class="col-lg-12">
        <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :description, "記念日の内容", class: 'col-form-label col-lg-12 text-center' %>
      <div class="col-lg-12">
        <%= form.text_area :description, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <%= form.label :date, "記念日の日付", class: 'col-form-label col-lg-12 text-center' %>
      <div class="col-lg-12">
        <%= form.date_field :date, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-12">
        <%= form.submit "保存", class: 'btn btn-primary d-block mx-auto' %>
      </div>
    </div>
  <% end %>
</div>
