
  <div class="card h-100 d-flex flex-column">
    <div class="card-header text-center" style="background-color: transparent; color: #4a4a4a;">
      <h5 class="card-title m-0">
        <%= link_to child_anniversary.name, child_anniversary_path(child_anniversary), class: "stretched-link text-decoration-none" %>
      </h5>
    </div>
    <% if child_anniversary.child_post && child_anniversary.child_post.image.attached? %>
      <%= image_tag child_anniversary.child_post.image, class: "card-img-top" %>
    <% else %>
      <div class="card-img-top d-flex align-items-center justify-content-center" style="background-color: #f0f0f0; height: 200px;">
        <i class="fas fa-camera fa-3x"></i>
      </div>
    <% end %>
    <div class="card-body flex-grow-1">
      <span class='content'><%= child_anniversary.description %></span></br>
    </div>
    <div class="card-footer text-muted d-flex justify-content-between align-items-center mt-auto">
      <span class='content'><%= child_anniversary.date %></span>
      <% if child_anniversary.child_post.present? %>
        | <%= link_to 'アニバ編集', edit_child_anniversary_child_post_path(child_anniversary, child_anniversary.child_post) %>
      <% else %>
        | <%= link_to 'アニバ新規投稿', new_child_anniversary_child_post_path(child_anniversary) %>
      <% end %>
      <% if current_user.id == child_anniversary.user_id %>
        | <%= link_to '編集', edit_child_anniversary_path(child_anniversary) %>
        | <%= button_to "削除", child_anniversary_path(child_anniversary), 
                          method: :delete,
                          data: { confirm: "本当に削除しますか？"},
                          class: 'btn btn-danger btn-sm',
                          form_class: 'inline-form' %>
      <% end %>
    </div>
  </div>